body{
    margin:0px;
    padding:0px;
    font-family: "Helvetica Neue",Helvetica, Arial;
}

#sidebar{
    background:#151718;
    width: 200px;
    height: 100%;
    display: block;
    position: absolute;
    left: -150px;
    top: 0px;
    transition:left 0.3s linear;
}

#sidebar i {
   float:right;
   font-size: 30px;
   margin-left: 15px;

}
#sidebar.visible{
    left:0px;
    transition:left 0.3s linear;
}
#sidebar.visible i {
   
   font-size: 24px; 
   float: left;
}
#sidebar.visible #user {
    font-size:80px;
    margin-left: 25%;
}



#sidebar.visible .button {
float:right;
text-decoration:none;
background-color: #2ecc71;
color: white;
cursor: pointer;
display: inline-block;
font-size: 1rem;
font-weight: 200;
line-height: 2rem;
padding: 0 1rem;

margin-right: 10px;
position: relative;
white-space: nowrap;

}

#sidebar.visible #uzr {
    margin-left: 40px;
    padding: 15px;
    font-size:90px;	
    color:#ccc;

}
#sidebar.visible #test {
display: block;
}


#sidebar.visible #test a {
    display: inline-block;
    position: relative;
}

#test {
    margin-top: 150px;
}

ul{
    margin:0px;
    padding:0px;
}

ul {
    list-style:none;
}

ul li a{
    
    color:#ccc;
    display:block;
    width: 180px;
    padding: 10px;
    text-decoration:none;
}

ul li a:hover {
    background: #1C1E1F;
}

#sidebar-btn{
    display:inline-block;
    vertical-align: middle;
    width:20px;
    height:15px;
    cursor:pointer;
    margin: 20px;
    position: absolute;
    top:0px;
    right: -60px;
}

#sidebar-btn span {
    height:1px;
    background:#111;
    margin-bottom:5px;
    display:block;
}

#btn {
   margin-top:50px;
   margin-left:250px;
   
}


#movie-info {
   margin-left:250px;
}



